@font-face {
    font-family: 'Gilroy ExtraBold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
  }
  
  body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    color: #000;
    
  }
  .visually-hidden:not(:focus):not(:active),
  input[type='checkbox'].visually-hidden,
  input[type='radio'].visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
  }


a {
    text-decoration: none;
}

a:visited {
  color: #000;
}

/*-------------Header----------------*/

h1 {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: .015em;
}

a {
  text-decoration: none;
  color: #000;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin-top: 40px;
  padding: 0 60px;
  background-color: #f7e296;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.main-header .index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 33px;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header .logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.logo[href] {
  -webkit-transition: opacity .1s ease-in;
  -o-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: .6;
}

.logo[href]:active {
  opacity: .3;
}

.search-form {
  position: relative;
  margin: 0;
  padding: 0;
}

.search-form input {
  width: 355px;
  height: 47px;
  padding: 0;
  padding-left: 38px;
  opacity: .3;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background-color: #f7e296;
}

.search-form input:hover {
  opacity: .6;
}

.search-form input:focus,
.search-form input:active {
  opacity: 1;
  border-bottom: 2px solid #000;
}

.search-form::before {
  position: absolute;
  top: 18px;
  left: 3px;
  width: 18px;
  height: 18px;
  content: '';
  opacity: 1;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}

.search-form .search-btn {
  font: inherit;
  visibility: hidden;
  width: 85px;
  height: 49px;
  margin-left: -5px;
  text-align: center;
  border: 2px solid #000;
  background-color: transparent;
}

.search-form-hidden:focus~.search-btn,
.search-form-hidden:active~.search-btn {
  visibility: visible;
}

.search-form .search-btn:hover,
.search-form .search-btn:focus {
  visibility: visible;
  color: #fff;
  background-color: #000;
}

.search-form .search-btn:active {
  visibility: visible;
  color: #747474;
  background-color: #000;
}

.user-block ul,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header .user-block {
  width: 500px;
}

.user-block li {
  display: inline-block;
  vertical-align: top;
}

.user-block-left .logout {
  margin-left: 10px;
}

.user-block-right li {
  margin-left: 30px;
}

.user-block a {
  position: relative;
  padding-left: 26px;
}

.user-block a::before {
  position: absolute;
  width: 14px;
  height: 13px;
  content: '';
  background-repeat: no-repeat;
}

.user-block .exit {
  padding-left: 0;
  opacity: .3;
}

.user-block .login::before {
  top: 4px;
  left: 0;
}

.main-header .login::before {
  background-image: url(../img/user.svg);
}

.user-block .compare::before {
  top: 6px;
  left: 6px;
}

.main-header .compare::before {
  background-image: url(../img/compare.svg);
}

.user-block .cart::before {
  top: 4px;
  left: 7px;
}

.main-header .cart::before {
  background-image: url(../img/cart.svg);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-navigation {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.site-navigation-right li {
  display: inline-block;
  vertical-align: top;
}

.main-navigation .menu-item-delivery {
  margin-right: 26px;
}

.main-navigation .menu-item-contacts {
  margin-left: 96px;
}

.menu-item .index-catalog {
  position: relative;
  padding-right: 30px;
}
≈

.menu-item .index-catalog:before {
  position: absolute;
  top: 10px;
  right: 3px;
  width: 16px;
  height: 2px;
  content: '';
  background-color: #b8a974;
}

.site-navigation .submenu {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 36px;
  position: absolute;
  z-index: 2;
  left: 0;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1160px;
  min-height: 164px;
  margin: 0;
  padding: 20px 60px;
  list-style: none;
  letter-spacing: .01em;
  text-transform: none;
  background-color: #f7e296;
}

.menu-item:hover .submenu,
.menu-item:focus .submenu {
  display: block;
}

.submenu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
}

.submenu ul {
  width: 200px;
}

.submenu ul:first-child {
  width: 200px;
  margin-right: 40px;
}

.user-block a,
.site-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-block a:hover,
.user-block a:focus,
.user-block .active:hover,
.user-block .active:focus {
  opacity: .6;
}

.site-navigation a:active,
.user-block a:active,
.user-block .active {
  opacity: .3;
}

.user-block .active:active {
  opacity: 1;
}

 /*------------ End 0f Header--------------*/
/*------------------------------------ Slider----------------------------------*/

.slider-top {
  position: relative;
}

.slider-top .slides {
  position: relative;
  top: -112px;
}

.slider-top .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider-top .slide-hidden {
  display: none;
}

.slide-visible {
  -webkit-animation-name: enter;
  animation-name: enter;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

.slide-content .slide-content-img,
.slide-content .slide-description {
  width: 560px;
}

.slide-content .slide-content-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.slide-content-img img {
  display: block;
  margin: 0 auto;
}

.slide-content .slide-description {
  position: relative;
}

.slide-content .slide-description::before {
  position: absolute;
  top: 37px;
  right: 460px;
  width: 100px;
  height: 7px;
  content: '';
  background-color: #fff;
}

.slide-description .slide-number {
  position: absolute;
  top: -14px;
  right: 48px;
}

.slide-description .slide-promo {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 56px;
  position: relative;
  z-index: 1;
  margin-top: 79px;
  margin-bottom: 19px;
  letter-spacing: .015em;
  color: #000;
}

.slide-description .slide-promo-description {
  font-family: 'Open Sans Light', 'Arial', sans-serif;
  width: 490px;
  margin-bottom: 40px;
}


.slide-description .btn {
  margin-bottom: 40px;
  padding: 8px 40px;
}
.slide-description .custom-table-1 {
  border-collapse: collapse;
}

.slide-description th {
  font-family: 'Gilroy Light', 'Arial', sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 48px;
  padding-bottom: 0px;
}

.slide-description th:first-child,
.slide-description th:last-child {
  width: 155px;
}

.slide-description th:nth-child(2) {
  width: 140px;
}

.slide-description td {
  font-size: 13px;
  line-height: 20px;
}

.slider-top .slides-switches,
.slider-top .slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-top .slides-switches {
  position: absolute;
  right: 82px;
  bottom: 250px;
}

.slides-switches li {
  display: inline-block;
  margin-right: 17px;
  vertical-align: top;
}

.slides-switches li:last-child {
  margin-right: 0;
}

.slider-top .slides-switches {
  font-size: 0;
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;
  cursor: pointer;
  vertical-align: baseline;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
}

.slider-top .slide-btn-active::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 4px;
  height: 4px;
  content: '';
  border: 1px solid #000;
  border-radius: 50%;
}

.slide-description .slide-number {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 180px;
  line-height: 180px;
  color: #fff;
}



.slide-link {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 45px;
  display: inline-block;
  position: relative;
}

.slide-link {
  background: linear-gradient( rgba( 255, 255, 255, 0) 75%, #f0c52e 25%);
  background-size: 8px 60%;
}

.slide-link:hover,
.slide-link:focus {
  background: #f0c52e;
}

.slide-link:active {
  color: #be9c22;
}

.slide-link {
  position: relative;
  top: 100px;

}

/*------------------------------------ End Slider----------------------------------*/

/*------------------------------------ Features---------------------------------*/

.features {
  margin-top: 10px;
  margin-bottom: 130px;
}

.features .features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  
}

.features a {
  color: #000;
}

.features h3 {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  max-width: 160px;
  margin: 0;
  padding: 0;
}

.features .feature-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;
  -webkit-transition: background-color .1s ease-in;
  -o-transition: background-color .1s ease-in;
  transition: background-color .1s ease-in;
  background-color: #f7e296;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features-list .feature-item {
  padding-bottom: 50px;
}

.feature-item:hover .feature-img,
.feature-item:focus .feature-img {
  background-color: #f0c52e;
}

.feature-item:active .feature-img img {
  opacity: .3;
}


.features {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}



/* Слайдер-2*/


/*-------------------------------Main Footer----------------------------*/

.main-footer {
  margin-top: 82px;
  padding-top: 63px;
  padding-bottom: 58px;
  color: #fff;
  background-color: #464646;
}

.main-footer a {
  color: #fff;
}

.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-footer-top .logo {
  padding-top: 2px;
}

.main-footer .login::before {
  background-image: url(../img/user-footer.svg);
}

.main-footer .compare::before {
  background-image: url(../img/compare-footer.svg);
}

.main-footer .cart::before {
  background-image: url(../img/cart-footer.svg);
}

.main-footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 63px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.main-footer-middle .site-navigation {
  width: 468px;
}

.main-footer-middle li {
  margin-right: 25px;
}

.main-footer-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: center;
}

.main-footer-bottom::before {
  position: absolute;
  bottom: 21px;
  left: 0;
  width: 80px;
  height: 7px;
  content: '';
  background-color: #ffc600;
}

.main-footer-bottom ul {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-footer-bottom li {
  display: inline-block;
  margin: 0 9px;
  vertical-align: top;
}

.social path {
  fill: #7e7e7e;
}

.social:hover path,
.social:focus path {
  fill: #b5b5b5;
}

.social:active path {
  fill: #595959;
}

.main-footer-bottom .created-by {
  margin-left: 474px;
}

.created-by path {
  fill: #ffc600;
}

.created-by:hover path,
.created-by:focus path {
  fill: #b5931c;
}

.created-by:active path {
  fill: #7e6d31;
}


/*Страница каталога*/

.sort-header {
  background-color: rgba(0, 0, 0, 0.08);

}
aside {
  border: none;
  background-color: #eeeeee;
}

.breadcrumbs ul{
  list-style: none;
  font-size: 14px;
  opacity: 0.3;
}

.sort-header-filter {
  list-style: none;
}

.filter-title {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
}

legend {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  
}

fieldset {
  border: none;

}

fieldset li {
  list-style: none;

}


/*Каталог*/

.catalog ul{
  list-style: none;

}


.catalog-item-link {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 45px;
  visibility: hidden;
}

.catalog-item-link {
  background: linear-gradient( rgba( 255, 255, 255, 0) 75%, #f0c52e 25%);
  background-size: 8px 60%;
}


.catalog-item-image img:hover + .catalog-item-link, .catalog-item-link:hover {
  display: inline-block;
  background: #f0c52e;
}

.pagination-list {
  list-style: none;
  background-color: #ebebeb;
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #fefefe;
}

.pagination-item-current a {
  color: #000000;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
}

.pagination-link:hover,
.pagination-link:focus,
.pagination-link:active {
  color: #464646;
  background-color:#d9d9d9;
}

