@font-face {
    font-family: 'Gilroy ExtraBold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'), url('../fonts/gilroyextrabold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gilroy Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/gilroylight.woff2') format('woff2'), url('../fonts/gilroylight.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/opensans.woff2') format('woff2'), url('../fonts/opensans.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/opensanslight.woff2') format('woff2'), url('../fonts/opensanslight.woff') format('woff');
  }
  
  body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: .01em;
    color: #000;
    
  }
  .visually-hidden:not(:focus):not(:active),
  input[type='checkbox'].visually-hidden,
  input[type='radio'].visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
  }


a {
    text-decoration: none;
}

a:visited {
  color: #000;
}

/*-------------Header----------------*/
body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  padding: 0;
  letter-spacing: .01em;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: .015em;
}

a {
  text-decoration: none;
  color: #000;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.btn {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 8px 10px;
  cursor: pointer;
  vertical-align: top;
  letter-spacing: .2em;
  text-transform: uppercase;
  color: #000;
  border: none;
  background-color: transparent;
}

.btn::before {
  position: absolute;
  z-index: -1;
  top: 40%;
  left: 0;
  width: 100%;
  height: 20%;
  content: '';
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background-color: #f0c52e;
}

.btn:hover::before,
.btn:focus::before {
  top: 0;
  height: 100%;
}

.btn:active {
  color: #be9c22;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin-top: 40px;
  padding: 0 60px;
  background-color: #f7e296;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.main-header .index-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 33px;
  padding-bottom: 30px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header .logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.logo[href] {
  -webkit-transition: opacity .1s ease-in;
  -o-transition: opacity .1s ease-in;
  transition: opacity .1s ease-in;
}

.logo[href]:hover,
.logo[href]:focus {
  opacity: .6;
}

.logo[href]:active {
  opacity: .3;
}

.search-form {
  position: relative;
  margin: 0;
  padding: 0;
}

.search-form input {
  width: 355px;
  height: 47px;
  padding: 0;
  padding-left: 38px;
  opacity: .3;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background-color: #f7e296;
}

.search-form input:hover {
  opacity: .6;
}

.search-form input:focus,
.search-form input:active {
  opacity: 1;
  border-bottom: 2px solid #000;
}

.search-form::before {
  position: absolute;
  top: 18px;
  left: 3px;
  width: 18px;
  height: 18px;
  content: '';
  opacity: 1;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}

.search-form .search-btn {
  font: inherit;
  visibility: hidden;
  width: 85px;
  height: 49px;
  margin-left: -5px;
  text-align: center;
  border: 2px solid #000;
  background-color: transparent;
}

.search-form-hidden:focus~.search-btn,
.search-form-hidden:active~.search-btn {
  visibility: visible;
}

.search-form .search-btn:hover,
.search-form .search-btn:focus {
  visibility: visible;
  color: #fff;
  background-color: #000;
}

.search-form .search-btn:active {
  visibility: visible;
  color: #747474;
  background-color: #000;
}

.user-block ul,
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-header .user-block {
  width: 500px;
}

.user-block li {
  display: inline-block;
  vertical-align: top;
}

.user-block-left .logout {
  margin-left: 10px;
}

.user-block-right li {
  margin-left: 30px;
}

.user-block a {
  position: relative;
  padding-left: 26px;
}

.user-block a::before {
  position: absolute;
  width: 14px;
  height: 13px;
  content: '';
  background-repeat: no-repeat;
}

.user-block .exit {
  padding-left: 0;
  opacity: .3;
}

.user-block .login::before {
  top: 4px;
  left: 0;
}

.main-header .login::before {
  background-image: url(../img/user.svg);
}

.user-block .compare::before {
  top: 6px;
  left: 6px;
}

.main-header .compare::before {
  background-image: url(../img/compare.svg);
}

.user-block .cart::before {
  top: 4px;
  left: 7px;
}

.main-header .cart::before {
  background-image: url(../img/cart.svg);
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.site-navigation {
  font-family: 'Gilroy ExtraBold', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.site-navigation-right li {
  display: inline-block;
  vertical-align: top;
}

.main-navigation .menu-item-delivery {
  margin-right: 26px;
}

.main-navigation .menu-item-contacts {
  margin-left: 96px;
}

.menu-item .index-catalog {
  position: relative;
  padding-right: 30px;
}
≈

.menu-item .index-catalog:before {
  position: absolute;
  top: 10px;
  right: 3px;
  width: 16px;
  height: 2px;
  content: '';
  background-color: #b8a974;
}

.site-navigation .submenu {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 15px;
  line-height: 36px;
  position: absolute;
  z-index: 2;
  left: 0;
  display: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1160px;
  min-height: 164px;
  margin: 0;
  padding: 20px 60px;
  list-style: none;
  letter-spacing: .01em;
  text-transform: none;
  background-color: #f7e296;
}

.menu-item:hover .submenu,
.menu-item:focus .submenu {
  display: block;
}

.submenu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;
}

.submenu ul {
  width: 200px;
}

.submenu ul:first-child {
  width: 200px;
  margin-right: 40px;
}

.user-block a,
.site-navigation a {
  color: #000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-block a:hover,
.user-block a:focus,
.user-block .active:hover,
.user-block .active:focus {
  opacity: .6;
}

.site-navigation a:active,
.user-block a:active,
.user-block .active {
  opacity: .3;
}

.user-block .active:active {
  opacity: 1;
}

 /*------------ End 0f Header--------------*/
/* Тут будет слайдер*/


.slide-link {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 45px;
}

.slide-link {
  background: linear-gradient( rgba( 255, 255, 255, 0) 75%, #f0c52e 25%);
  background-size: 8px 60%;
}



.slide-link:hover,
.slide-link:focus {
  background: #f0c52e;
}

.slide-link:active {
  color: #be9c22;
}

/* Список фич*/
.features-list {
  list-style: none;
}

/* Слайдер-2*/

/* Футер*/
.footer-nav {
  list-style: none;
  background-color: #464646;
}

.social {
  list-style: none;
  box-align: center;
  display: flex;
}

.footer-navigation-top {
  font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
  text-transform: none;
  color: #fff;
  display: flex;

}

.footer-navigation-bottom {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  display: flex;
}
.footer-navigation-bottom a {
  text-align: center;
}

 .footer-nav {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }


.footer-nav,
.footer-navigation-top,
.footer-navigation-bottom {
  list-style: none;
}

.footer-nav a,
.footer-navigation-top a,
.footer-navigation-bottom a {
  color: #fff;
}

.footer-nav a:hover,
.footer-nav a:focus,
.footer-navigation-top a:hover,
.footer-navigation-top a:focus,
.footer-navigation-bottom a:hover,
.footer-navigation-bottom a:focus {
  opacity: 0.6;
}

.footer-nav a:active,
.footer-navigation-top a:active,
.footer-navigation-bottom a:active{
  opacity: 0.3;
}

/*Страница каталога*/

.sort-header {
  background-color: rgba(0, 0, 0, 0.08);

}
aside {
  border: none;
  background-color: #eeeeee;
}

.breadcrumbs ul{
  list-style: none;
  font-size: 14px;
  opacity: 0.3;
}

.sort-header-filter {
  list-style: none;
}

.filter-title {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-transform: uppercase;
}

legend {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  
}

fieldset {
  border: none;

}

fieldset li {
  list-style: none;

}


/*Каталог*/

.catalog ul{
  list-style: none;

}


.catalog-item-link {
  font-family: Gilroy;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  padding: 15px 45px;
  visibility: hidden;
}

.catalog-item-link {
  background: linear-gradient( rgba( 255, 255, 255, 0) 75%, #f0c52e 25%);
  background-size: 8px 60%;
}


.catalog-item-image img:hover + .catalog-item-link, .catalog-item-link:hover {
  display: inline-block;
  background: #f0c52e;
}

.pagination-list {
  list-style: none;
  background-color: #ebebeb;
  font-family: Gilroy, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #fefefe;
}

.pagination-item-current a {
  color: #000000;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
}

.pagination-link:hover,
.pagination-link:focus,
.pagination-link:active {
  color: #464646;
  background-color:#d9d9d9;
}

